<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819460441712-oln61v0d7o59bro03c1ck6du8s7j613d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819460441712-oln61v0d7o59bro03c1ck6du8s7j613d</string>
	<key>API_KEY</key>
	<string>AIzaSyCC4EOOfG6vrRz8BZBODVQE25Qrcmi6nqE</string>
	<key>GCM_SENDER_ID</key>
	<string>819460441712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.crhsidea.crhsParkingApp</string>
	<key>PROJECT_ID</key>
	<string>parking-app-39ad0</string>
	<key>STORAGE_BUCKET</key>
	<string>parking-app-39ad0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819460441712:ios:65d7c6714e94d0a81916b5</string>
	<key>DATABASE_URL</key>
	<string>https://parking-app-39ad0.firebaseio.com</string>
</dict>
</plist>